<div class= "center jumbrotron"> 
<center> <h1> Welcome to Lego Town! </h1>
<h2> This is the home page for the Lego Town Website sample application</h2>



<%=link_to image_tag("rails.png", alt:"Rails")%> </center>
</div>

